@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* PRYMARY */    
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);

/*Neutral*/
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    --font-public-sans: 'Public Sans', sans-serif;
    --font-size-18px: 18px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

body {
    width: 100vw;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 50px;
    background-color: var(--White);
    padding:5px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10; 
}

header .logo {
    width: 15%;
}

nav ul {
    display: flex;
    
}

nav ul li {
    list-style: none;
    padding: 5px 25px;
}

nav ul li a {
    text-decoration: none;
    font-family: var(--font-public-sans);
    font-weight: var(--font-weight-regular);
    color: var(--GrayishBlue);
}

nav ul li a:hover {
    color: var(--DarkBlue);
    font-weight: var(--font-weight-bold);
    transition: color 0.7s ease;
}

.request {
    color: var(--VeryLightGray);
    background-image:linear-gradient(
        90deg,
        var(--LimeGreen),
        var(--BrightCyan)
    ) ;
    padding: 8px 25px;
    font-family: var(--font-weight-regular);
    font-size: 16px;
    border: none;
    border-radius: 30px;

}

.request:hover {
    box-shadow: 5px 2px 2px var(--DarkBlue);
    transition: box-shadow 0.3s ease;
}

.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    width: 38%;
    margin-left:130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-left h1 {
    font-family: var(--font-public-sans);
    font-weight: var(--font-weight-regular);
    font-size: 45px;
    color: var(--DarkBlue);
}

.hero-text {
    color: var(--GrayishBlue);
    font-size: var(--font-size-18px);
    line-height: 25px;
    padding: 25px 30px 25px 0;
}

.hero-right {
    width: 54%;
    height: 100%;
    display: flex;
    justify-content: end;
    background-image: url('/images/bg-intro-desktop.svg');
    background-repeat: no-repeat; /* Impede que o background se repita */
    background-position: left bottom; /* Posiciona a imagem no canto inferior direito */
    background-size: 140%;
}

.hero-right img {
    position: absolute; /* Agora, a imagem é posicionada em relação à .hero-right */
    right: 0; /* Define o ponto de ancoragem no limite direito do contêiner */
    transform: translateX(17%) translateY(-19%);
    height: 130%; /* Ajusta a altura da imagem para que não saia da área visível */
}

.sobre, .artigos {
    background-color: var(--LightGrayishBlue);
    padding:50px 0 ;
}

.container {
    margin-left:130px;
}

h2 {
    font-family: var(--font-public-sans);
    font-weight: var(--font-weight-regular);
    font-size: 30px;
    color: var(--DarkBlue);
    padding-top: 40px;
}

.texto-sobre{
    width: 50%;
    font-size: var(--font-size-18px);
    padding: 20px 0;
    line-height: 25px;
    color: var(--GrayishBlue);
}

.artigos {
    background-color: var(--White);
}

.produtos, .artigo{
    display: flex;
    width: 90%;
    padding-top: 30px;
}

h3 {
    font-family: var(--font-public-sans);
    font-weight: var(--font-weight-regular);
    font-size: 18px;
    color: var(--DarkBlue);
    padding: 15px 0;
    text-decoration: none;
}

.online-banking, .simple-budgeting, .fast-onboarding, .open-API, .texto-produto {
    color: var(--GrayishBlue);
    font-family: var(--font-public-sans);
    font-weight: var(--font-weight-regular);
    font-size: 15px; 
    line-height: 25px;
    width: 91% ;
}

.artigo {
    justify-content: space-between;
}

.artigo .article-item {
    width: 24%;
}

.artigo .article-item img {
    width: 100%;
    height: 160px;
    padding-bottom: 30px;
}

.article-author {
    font-family: var(--font-public-sans);
    font-size: 12px;
    color: var(--GrayishBlue);

}

.article-content {
    width: 85%;
}

.article-content h3 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
}

.article-content h3 a {
    width: 60%;
    text-decoration: none;
    color: var(--DarkBlue);
}

.article-content p {
    font-size: 12px;
    color: var(--GrayishBlue);
    width: 94%;
}

footer {
    background-color: var(--DarkBlue);
    padding: 20px 130px;
}

.footer-easybank {
    display: flex;
    padding: 20px 0 20px ;
    justify-content: space-between;
    border-bottom: 1px solid var(--GrayishBlue);
}

.footer-easybank .socials-logo  {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.footer-easybank .socials {
    display: flex;
    justify-content: space-between;
}

.footer-easybank nav ul{
    flex-direction: column;
}

.navigation-footer ul li a:hover, .socials div a:hover {
    color: var(--LimeGreen);
}

/* SVGs devem ficar com a cor limegreen no Hover. Fazer isso em Javascript.
 .socials div a:hover {
    color: var(--LimeGreen);
}*/

.cta-all-rights-reserved {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end ;
}

.cta-all-rights-reserved .request:hover {
    box-shadow: 5px 2px 2px var(--GrayishBlue);
    transition: box-shadow 0.3s ease;
}

.all-rights-reserved {
    color: var(--GrayishBlue);
}

.footer-frontend-mentor {
    padding: 40px 0 5px 0;
}

.footer-frontend-mentor .attribution{
    width: 50%;
    margin: auto;
    color: var(--GrayishBlue);
    text-align: center;
    border-bottom: 1px solid var(--GrayishBlue);
}

.footer-frontend-mentor .attribution a {
    font-weight:var(--font-weight-bold);
    color: var(--GrayishBlue);
    text-decoration: none;
}

.footer-frontend-mentor .attribution a:hover {
    color: var(--LimeGreen);
}
