body{
    width: 100vw;
    background-image: url(http://www.w3.org/1999/xlink);
    background-size: cover;
    background-repeat: repeat;
}

.hero-button:hover {
    border: 2px solid red; /* cor dos botões */
    border-radius: 20px;
    text-align: center;
    padding-top: 0 ;
}

.socials a img:hover {
    transition: 300ms;
    transform: scale(1.4);
}